body {
  background-color: #2f3e46;
  color: #84a98c;
  font-family: "Do Hyeon", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  color: #84a98c;
  background-color: #111;
  border: 1px solid #84a98c;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
#overlay {
  width: 100vw;
  height: 100vh;
  background-color: #111111bb;
  position: absolute;
  text-align: center;
  display: none;
  top: 0;
}
#gameOverWrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 3px 3px 5px #000;
}
h3 {
  text-shadow: 3px 3px 5px #000;
}
#game {
  display: grid;
  /* gets set by js */
  grid-template-columns: auto 600px auto;
}
a {
  color: #84a98c;
  text-decoration: none;
}
canvas {
  border: 1px solid #52796f;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  grid-column: 3;
  grid-row: 1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
}
li {
  /* needs to be set to tilesize by js */
  line-height: 40px;
}
#tipsY {
  grid-row: 1;
  grid-column: 4;
  width: 50px;
  padding-left: 10px;
}
#tipsX {
  height: 50px;
  grid-row: 2;
  grid-column: 3;
  padding-top: 10px;
}
#tipsX > ul {
  display: flex;
  padding-top: 0;
}
#tipsX > ul > li {
  width: 80px;
  transform: rotate(90deg);
  padding-bottom: 0;
}
