body {
  background-color: #2f3e46;
  color: #84a98c;
  font-family: "Do Hyeon", sans-serif;
  margin: 0;
  padding: 0;
}
#overlay {
  width: 100vw;
  height: 100vh;
  background-color: #11111199;
  position: absolute;
  text-align: center;
  padding-top: 100px;
  display: none;
}
h1 {
  text-align: center;
  font-size: 40px;
}
#game {
  display: grid;
  /* should be set by js */
  grid-template-columns: auto 600px auto;
}
a {
  color: #84a98c;
  text-decoration: none;
}
canvas {
  border: 1px solid #52796f;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  grid-column: 2;
  grid-row: 1;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
}
li {
  /* needs to be set to tilesize by js */
  line-height: 40px;
}
#tipsY {
  grid-row: 1;
  grid-column: 2;
  width: 50px;
  padding-left: 10px;
}
#tipsX {
  height: 50px;
  margin-top: 30px;
}
#tipsX > ul {
  display: flex;
  padding-top: 0;
}
#tipsX > ul > li {
  width: 80px;
  transform: rotate(90deg);
  padding-bottom: 0;
}
